
WeatherKit_Library/obj/WeatherKit_Library.csproj.nuget.g.props
WeatherKit/obj/Debug/netcoreapp3.1/WeatherKit.assets.cache
WeatherKit_Library/obj/WeatherKit_Library.csproj.nuget.g.props
WeatherKit_Library/obj/WeatherKit_Library.csproj.nuget.dgspec.json
WeatherKit_Library/obj/project.nuget.cache
WeatherKit_Library/obj/project.assets.json
WeatherKit_Library/obj/Debug/netcoreapp3.1/WeatherKit_Library.assets.cache
WeatherKit/obj/WeatherKit.csproj.nuget.g.props
WeatherKit/obj/WeatherKit.csproj.nuget.dgspec.json
WeatherKit/obj/project.nuget.cache
WeatherKit/obj/project.assets.json
WeatherKit/obj/Debug/netcoreapp3.1/WeatherKit.csprojAssemblyReference.cache
WeatherKit/obj/Debug/netcoreapp3.1/WeatherKit.assets.cache
WeatherKit/.vs/WeatherKit/DesignTimeBuild/.dtbcache.v2
WeatherKit/.vs/WeatherKit/v16/.suo
WeatherKit/.vs/WeatherKit/DesignTimeBuild/.dtbcache.v2
WeatherKit_Library/obj/Debug/netcoreapp3.1/WeatherKit_Library.csprojAssemblyReference.cache
