@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4">Welcome to Weatherkit</h1>
    <form>
        <div>
            <input type="text" name="CityState" placeholder="City, State"><br />
            <p> or </p>
            <input type="text" name="ZipCode" placeholder="Zip Code"><br />
            <input type="submit" name="Submit">

        </div>
    </form>
</div>